asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==2.1.1
colorama==0.4.6
cors==1.0.1
Django==4.1.5
django-cors-headers==3.13.0
django-environ==0.9.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
filelock==3.9.0
future==0.18.2
gevent==22.10.2
greenlet==2.0.1
idna==3.4
Pillow==9.4.0
psycopg2-binary==2.9.5
PySocks==1.7.1
pytz==2022.7
requests==2.28.1
requests-file==1.5.1
six==1.16.0
sqlparse==0.4.3
tldextract==3.4.0
urllib3==1.26.13
zope.event==4.6
zope.interface==5.5.2
